@use "../../styles/abstracts" as * ;

.auth {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  background: $cl-container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: $mobile) {
  .auth{
    width: 100%;
  }
}