$ff-primary: 'Rubik', sans-serif;
$fs-primary: 1rem;
$fs-secondary: 0.875rem;
$fs-media: 0.813rem;

$fs-h1: 2.25rem;
$fs-h2: 1.5rem;
$fs-h3: 1.25rem;

$fw-primary: 500;
$fw-semiBold: 600;
$fw-bold: 700;

@media screen  and (max-width: 1024px){
  $fs-primary: 0.938rem;
  $fs-secondary: 0.813rem;
  $fs-media: 0.75rem;
}